
.choose>div{
  margin-bottom: 30px;
  display: flex;

}
.choose>div>span:nth-child(1){
  display: block;
  width: 64px;
  height: 26px;
  font-size: 16px;
  color: #000;
  text-align: center;
  border-radius: 8px;
  margin-top: 1px;
  background-color: #fff;
}
.choose>div>span:nth-child(2){
  margin-left: 30px;
  width: 308px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.choose .price span:nth-child(2){
  width: 200px;
}
.price span:nth-child(2)>b:nth-child(1){
  font-size: 26px;
  color: #fdd900;
  font-weight: 600;

}
.price span:nth-child(2)>b:nth-child(3){
  font-size: 16px;
  color: #fff;
  width: 140px;
  display: block;
  text-decoration: line-through;
}
.style span:nth-child(2)>a{
  width: 73px;
  line-height: 24px;
  font-size: 14px;
  border: 1px solid #fff;
  text-decoration: none;
  text-align: center;
  color: #fff;
  display: block;
  float: left;
  border-radius: 8px;
  margin-right: 5px;
}
.active2{
  background-color: #fce132;
  cursor:pointer;
}
.size span:nth-child(2){
  width: 280px;
}
.size span:nth-child(2)>a{
  width: 70px;
  line-height: 24px;
  font-size: 14px;
  border: 1px solid #fff;
  text-decoration: none;
  text-align: center;
  color: #fff;
  display: block;
  border-radius: 8px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.num span:nth-child(2) a{
  display: block;
  font-size: 14px;
  border: 1px solid #fff;
  text-decoration: none;
  text-align: center;
  color: #fff;
  width: 69px;
  height: 26px;
  line-height: 26px;
  border-radius: 8px;
}
.num span:nth-child(2) b{
  font-weight: normal;
  font-size: 16px;
  color: #fff;
  margin: 0 70px;
  line-height: 36px;

}
